#outer {
    width: 330px;
    height: 100px;
    margin: 10px auto;
}

#outer div {
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 5px;
    background: black;
    /*animation-name: example;
    animation-duration: 4s;*/
}

#btn_red {
    cursor:pointer;
    border-radius: 5px;
    height: 40px;
    margin: 30px auto;
    padding:1px 5px 1px 5px;
}

#btn_red:hover {
    background-color: red;
}

@keyframes example {
    from {background-color: black;}
    45%  {background-color: red;}
    55%  {background-color: red;}
    to   {background-color: black;}
}
